a {
	color: #00cc67;
}
a {
	color: #00cc67;
}
a:hover, a:hover {
	color: #00cc67;
}
.section-title h4 span {
	color: #00cc67;
}
.section-title h4::before {
	background: #00cc67;
}
.btn-primary {
	background-color: #00cc67;
	border-color: #00cc67;
}
.btn-primary:hover, .btn-primary:focus {
	color: #00cc67;
	border-color: #00cc67;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #00cc67;
	border-color: #00cc67;
}
.btn-primary.disabled, .btn-primary:disabled {
	background-color: #00cc67;
	border-color: #00cc67;
}
.btn.btn-primary.disabled:hover {
	color: #00cc67;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
	background: #00cc67;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #00cc67;
}
.main-header-area .classynav ul li a.active, .main-header-area .classynav ul li a:hover {
	color: #00cc67;
}
.main-header-area .light .classynav ul li .dropdown li .dropdown li a:hover {
	color: #00cc67;
}
.main-header-area .light .classynav ul li .dropdown li .dropdown li.active a {
	color: #00cc67;
}
.classynav ul li.cn-dropdown-item ul .active a {
	color: #00cc67;
}
.classynav ul li.right-side ul li .btn:hover, .classynav ul li.right-side ul li .btn:focus {
	color: #00cc67;
}
.popular-searchs li a:hover {
	background: #00cc67;
	border-color: #00cc67;
}
.single-listings figure .read-more .btn-primary:hover, .single-listings figure .read-more .btn-primary:focus {
	color: #00cc67;
}
.single-listings figure .listings-tag a:hover {
	color: #00cc67;
}
.single-listings figure .price {
	background: #00cc67;
}
.listings-content h3 a:hover {
	color: #00cc67;
}
.listings-content .location span i {
	color: #00cc67;
}
.single-box:hover::before, .single-box:hover::after {
	border-color: #00cc67;
}
.single-box:hover .icon {
    color: #00cc67;
}
.single-box:hover .link-btn {
	background: #00cc67;
}
.cities-content h4 a:hover {
	color: #00cc67;
}
.single-cities .browse-btn .btn-primary:hover, .single-cities .browse-btn .btn-primary:focus {
	color: #00cc67;
}
.fun-facts-area::before {
    background: #00cc67;
}
.fun-fact i {
	color: #00cc67;
}
.single-place .book-now .btn-primary:hover, .single-place .book-now .btn-primary:focus {
	color: #00cc67;
}
.place-content h3 a:hover {
	color: #00cc67;
}
.single-item i {
	color: #00cc67;
}
.single-blog-post figure .read-more .btn-primary:hover, .single-blog-post figure .read-more .btn-primary:focus {
	color: #00cc67;
}
.blog-post-content h3 a:hover {
    color: #00cc67;
}
.blog-details .entry-meta li i {
	color: #00cc67;
}
.blog-details .entry-meta li a:hover {
	color: #00cc67;
}
.blog-details .blockquote {
	border-left: 4px solid #00cc67;
}
.blog-details .share .share li a:hover {
	background: #00cc67;
	border-color: #00cc67;
}
.blog-details .prev-next-nav a {
	background-color: #00cc67;
	border: 1px solid #00cc67;
}
.blog-details .prev-next-nav a:hover {
	color: #00cc67;
}
.blog-details h4.title::before {
	background: #00cc67;
}
.blog-comments .single-comments .content a {
	border: 1px solid #00cc67;
}
.blog-comments .single-comments .content a:hover {
    background: #00cc67;
}
.comments-form .form-control:hover, .comments-form .form-control:focus {
	border: 1px solid #00cc67;
}
.about-text h3 span {
	color: #00cc67;
}
.about-text ul li i {
	color: #00cc67;
}
.video a:hover {
    border-color: #00cc67;
    background: #00cc67;
}
.pricingTable .title {
	color: #00cc67;
}
.pricingTable .price-value {
	background-color: #00cc67;
}
.our-team .social-media-team {
	background-color: #00cc67;
}
.our-team .team-social li a:hover {
	color: #00cc67;
}
.our-team .post-title a:hover {
	color: #00cc67;
}
.team-details-area .title::before {
	background: #00cc67;
}
.team-details ul {
	border-left: 4px solid #00cc67;
}
.team-details ul li i {
	color: #00cc67;
}
.sidebar .widget-boxed .user-contact li span i {
	color: #00cc67;
}
.sidebar .widget-boxed .user-contact li a:hover {
	color: #00cc67;
}
.sidebar .widget-boxed .user-contact-form .form-control:hover, .sidebar .widget-boxed .user-contact-form .form-control:focus {
	border: 1px solid #00cc67;
}
.feedback-box {
	background: #00cc67;
}
.feedback-box .fas.fa-sort-down {
	color: #00cc67;
}
.filter-listing a.active, .filter-listing a:hover {
	background: #00cc67;
	border-color: #00cc67;
}
.listing-title-content span.category {
	border: 1px solid #00cc67;
	color: #00cc67;
}
.listings-details .box .listing-title-content p i {
	color: #00cc67;
}
.listings-details .box .listing-title-content ul li i {
	color: #00cc67;
}
.listings-details .box .title {
	background: #00cc67;
}
.listings-details .description-box li i {
	color: #00cc67;
}
.listings-details .amenities-box ul li i {
	color: #00cc67;
}
.listings-details .box .rating-box h3 {
	color: #00cc67;
}
.photoUpload.btn.btn-primary:hover {
	background: #00cc67;
	border-color: #00cc67;
}
.listing-contact-info li i {
	color: #00cc67;
}
.listing-contact-info li a:hover {
	color: #00cc67;
}
.share-info li a {
	color: #00cc67;
}
.share-info li a:hover {
	background: #00cc67;
}
.single-category-box:hover::before {
	background: #00cc67;
}
.category-box .category-content h4 a:hover {
	color: #00cc67;
}
.breadcrumbs-area .breadcrumbs ul li a:hover {
	color: #00cc67;
}
.user-profile-menu .profile-info {
	background: #00cc67;
}
.user-profile-menu .user-menu .title i {
	color: #00cc67;
}
.user-profile-menu .user-menu ul li a:hover {
	color: #00cc67;
}
.user-profile-menu .user-menu ul .active a {
	color: #00cc67;
}
.dashboard-detail-box .title {
	background: #00cc67;
}
.single-notification h5 a:hover {
    color: #00cc67;
}
.single-messages h5 a:hover {
	color: #00cc67;
}
.single-messages h4 i {
    color: #00cc67;
}
.listing-table .table td.listing-name a:hover {
	color: #00cc67;
}
.listing-table .table .status {
	background: #00cc67;
}
.listing-table .table .action a {
	background: #00cc67;
	border: 1px solid #00cc67;
}
.listing-table .table .action a:hover {
    color: #00cc67;
}
.single-reviews h5 a:hover {
	color: #00cc67;
}
.profile .profile-box .title {
	background: #00cc67;
}
.profile .profile-info ul li a:hover {
	color: #00cc67;
}
.edit-profile .avater-box .upload-btn .btn {
	border: 2px solid #00cc67;
	color: #00cc67;
}
.manage-listing .title {
	background: #00cc67;
}
.manage-listing .listing-table .listing-info a:hover {
	color: #00cc67;
}
.manage-listing .listing-table .listing-info p i {
	color: #00cc67;
}
.invoice-text ul li a:hover {
	color: #00cc67;
}
.add-listing-box .listing-box-header {
	background: #00cc67;
}
.add-listing-box .form-group.check-box-check input[type="checkbox"]:checked + label::before {
	border-color: #00cc67;
	background: #00cc67;
}
.page-item.active .page-link {
	background-color: #00cc67;
	border-color: #00cc67;
}
.page-link:hover, .page-link:focus {
	background: #00cc67;
}
.sidebar .widget-boxed .title i {
	color: #00cc67;
}
.sidebar .widget-boxed .form-group input[type="checkbox"]:checked + label::before {
	border-color: #00cc67;
	background: #00cc67;
}
.sidebar .latest-listing-content h4 a:hover {
	color: #00cc67;
}
.sidebar .latest-listing-content span i {
	color: #00cc67;
}
.sidebar .top-categories li a:hover {
	color: #00cc67;
}
.sidebar .widget-boxed .latest-blogs-content h3 a:hover {
	color: #00cc67;
}
.sidebar .top-categories li a span {
	background: #00cc67;
}
.faq .card-header {
	background: #00cc67;
}
.contact-info .info-box .icon {
	color: #00cc67;
	border: 1px solid #00cc67;
}
.contact-info .info-box:hover .icon {
	background: #00cc67;
}
.contact-info .info-box .content p a:hover {
	color: #00cc67;
}
.get-in-touch .text span {
	color: #00cc67;
}
.get-in-touch .stay-connected li a:hover {
	color: #00cc67;
}
.get-in-touch .stay-connected li a:hover i {
	background: #00cc67;
	border-color: #00cc67;
}
.single-widget .title::before {
	background: #00cc67;
}
.social-link li a:hover {
	background: #00cc67;
}
.single-widget .quick-links li a:hover {
	color: #00cc67;
}
.single-widget .support-links li a:hover {
	color: #00cc67;
}
.single-widget .footer-contact-info li i {
	color: #00cc67;
}
.single-widget .footer-contact-info li a:hover {
	color: #00cc67;
}
.copyright-area ul li a:hover {
	color: #00cc67;
}
.go-top:hover {
    background: #00cc67;
}